<div class="jumbotron-hero jumbotron-fluid">
  <br><br>
  <div class="container">

  <input data-remote="true"
  class="form-control mr-sm-2" type="text" placeholder="¿Qué deseas aprender? Ej:
  álgebra, batería, Ruby on Rails, Yoga, etc." aria-label="Search" name="q" >

  </div>

</div>



<h2 class="text-center my-4"><strong>Últimos Anuncios</strong></h2>
<hr>

  <br>

<div id='ads'>
  <%= render @ads %>
</div>
