
  <div id="search-main" class="jumbotron jumbotron-fluid">

<h1 class="text-center text-light my-5"><strong>Encuentra a tu Coach.</strong></h1>

</div>



  <div id='ads'>

    <%= render @ads %>
  </div>
