
<div id="search-main" class="jumbotron jumbotron-fluid">
  <div class="col-lg-5">
    <input data-remote="true"
    class="form-control w-50" type="text" placeholder="¿Qué deseas aprender? Ej:
    álgebra, batería, Ruby on Rails, Yoga, etc." aria-label="Search" name="q">
    </input>

  </div>

    <h1 class="text-center text-light"><strong>Encuentra a <br>tu <strong class="text-info">Coach.</strong></strong></h1>
    <h1 class="text-center text-info my-5"><strong>Enseña<br> <strong class="text-light">lo que</strong> sabes.</strong></h1>

</div>

<div id='ads'>

  <%= render @ads %>
</div>

<br><br><br><br><br>
