
  <div class="container my-5">
    <input data-remote="true"
    class="form-control mr-sm-3" type="text" placeholder="¿Qué deseas aprender? Ej:
    álgebra, batería, Ruby on Rails, Yoga, etc." aria-label="Search" name="q" >



  </div>


<h2 class="text-center">Anuncios</h2>

<div id='ads'>
  <%= render @ads %>
</div>
