
<p id="notice"><%= notice %></p>
<form class="" data-remote="true">
  <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="q" >
</form>





  <h1 class="text-center">Últimos Anuncios</h1>

  


<div id='ads'>
  <%= render @ads %>
</div>
