<!-- Render ads and Search-->

<div class="jumbotron-hero">

  <br><br><br><br><br><br>

  <h2 class="text-center"><strong>Busca tu clase!</strong></h2>

  <div class="jumbotron jumbotron-fluid container" style="opacity: 0.6">

    <div class="jumbtron jumbotron-fluid">
      <form class="container" >
        <input data-remote="true"
        class="form-control mr-sm-3" type="text" placeholder="¿Qué deseas aprender? Ej:
        álgebra, batería, Ruby on Rails, Yoga, etc." aria-label="Search" name="q">
        </input>
      </form>

    </div>

  </div>

</div>

<h2 class="text-center my-3"><strong>Anuncios</strong></h2>

<div id='ads'>
  <%= render @ads %>
</div>
