
  <div id="search-main" class="jumbotron jumbotron-fluid">

<h1 class="text-center text-info"><strong>Encuentra a <br>tu Coach.</strong></h1>
<h1 class="text-center text-light my-5"><strong>Enseña<br> lo que sabes.</strong></h1>

</div>



  <div id='ads'>

    <%= render @ads %>
  </div>
