
<p id="notice"><%= notice %></p>

  <input data-remote="true"
  class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search" name="q" >

  <br>

<div id='ads'>
  <%= render @ads %>
</div>
