
body{
    font-family: 'Oswald', sans-serif;

  }

nav{
  height: 80px;
  background-color: #0D0D0D;
  color: #E9DFDF;

}

h2{
  font-size: 4em;
}


.jumbotron-hero{
  background-image: url('hero.jpg');
  height: 554px;
}

footer{
  background-color: #0D0D0D;
  color: #E9DFDF;
}
