
<footer class="footer text-center fixed-bottom">


  <a href="https://github.com/GonzaloCarcamo"><i class="fab fa-github fa-3x ml-3 mr-3 my-3"></i></a>
  <a href="https://www.linkedin.com/in/gonzalo-c%C3%A1rcamo-salinas-2450501a3/"><i class="fab fa-linkedin fa-3x mr-3"></i></a>

  <a href="https://www.instagram.com/gon.guit/?hl=es-la"><i class="fab fa-instagram fa-3x mr-3"></i></a>


  <h5 class="">© 2020 Copyright: <strong>UpClass!</strong></h5>

</footer>
