<footer id="contact" class="site-footer">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-6">
            <h4 class="my-3"><strong>Acerca de</strong></h4>
            <p class="text-justify">
              La plataforma UpClass! nace por conceptos estudiantiles, como proyecto final de carrera de Desarrollo de Apps FullStack.
            Su finalidad, es convertirse en una plataforma que facilite el intercambio de aprendizaje. Por un lado, poner a disposición
          los conocimientos de uno (y obtener dinero por ello), y por otro lado, tener la posibilidad de aprender alguna disciplina, de mano
        de un experto en la materia.</p>
          </div>

          <div class="col-xs-6 col-md-3">
            <h4 class="my-3"><strong>Sugiere una Categoría</strong></h4>
            <ul class="footer-links">
              <li>Escribe a: <p><strong>gon.cmo.dev@gmail.com</strong></p></li>
            </ul>
          </div>

          <div class="col-xs-6 col-md-3">
              <h4 class="my-3"><strong>Conoce al desarrollador</strong></h4>
            <ul class="footer-links">
              <li><a href="https://github.com/GonzaloCarcamo">GitHub</a></li>
              <li><a href="https://www.linkedin.com/in/gonzalo-c%C3%A1rcamo-salinas-2450501a3/">Linkedin</a></li>
              <li><a href="http://www.youtube.com">Youtube</a></li>
              <li><a href="https://www.instagram.com/gon.guit/">Instagram</a></li>
            </ul>
          </div>
        </div>
        <hr>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-sm-6 col-xs-12">
            <p class="copyright-text">Copyright &copy; 2020 All Rights Reserved by
         <a href="#">gon-cmo</a>.
            </p>
          </div>
        </div>
      </div>
</footer>
