
#nav1{
  background-color: #03002A;
}


#nav2{
  background-color: #08006B;
}

body{
    font-family: 'Oswald', sans-serif;
  }

  h1{
    font-size: 5em;
  }

  p{
    font-size: 2em;
  }

  footer{
    background-color: black;
    color: white;
    height: 100px;
  }

li{
  color: black;
}


.hero-area{
  background-image: image('hero.jpg');
}
